@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(125% 125% at 50% 10%, #000000 40%, #2b092b 100%);
  color: var(--foreground);
  font-family: "Inter";
}
.animate-delay-100{
  animation-delay: 100ms;
}
.animate-delay-200{
  animation-delay: 200ms;
}
.animate-delay-300{
  animation-delay: 300ms;
}


.aparecer{
  animation: aparecer .1s ease-out forwards;
}
.aparecer-1{
  animation: aparecer .2s ease-in-out forwards;
}
.aparecer-2{
  animation: aparecer .3s ease-in-out forwards;
}
.aparecer-3{
  animation: aparecer .4s ease-in-out forwards;
}
.aparecer-4{
  animation: aparecer .5s ease-in-out forwards;
}
.aparecer-5{
  animation: aparecer .6s ease-in-out forwards;
}
@keyframes aparecer {
  0%{
    transform: translateY(-12px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.desaparecer{
  animation: desaparecer .1s ease-out ;
}
@keyframes desaparecer {
  0%{
    transform: translateY(0px);
    opacity: 1;
  }
  100%{
    transform: translateY(-12px);
    opacity: 0;
  }
}